@charset "UTF-8";
html{font-size: 100%;}

/*HEADER*/

.logo {
  margin-top: 0;
  font-size: 3rem;
  color: #000000;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}
li a{text-decoration: none;}
.main-nav {display: flex;
font-size: 1rem;
text-transform: uppercase;
margin-top: 34px;
list-style: none;}
.main-nav li{margin-left: 36px;}
.main-nav a{color: black;}
.main-nav a:hover{color: red;}
.page-header{display: flex;justify-content: space-between;}
/*HOME*/


.home-content h2{font-size: 5.000rem;color: #ffffff; margin-top: 20%;}
.home-content h2{
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
}


.home-content {text-align:center;margin-top: 0%;}
.home-content p {font-size: 1.125rem; margin: 20px 0 42px;line-height: 0.5;}
.home-content p {
  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;
}
.text-highlight{color: rgb(255, 70, 70);}


.home-content p{color: #ffffff;}
#home {background-image:url(magicstart.jpg) ;
    background-size: 100% auto;
    background-repeat:no-repeat ;
    background-position: top center;min-height: 2500px;}